src/main/app/resources/arwo-jar/io/github/greyp9/arwo/xsd/app/app.xsd

<?xml version='1.0' encoding='UTF-8' ?>
<xsd:schema targetNamespace='urn:arwo:app'
            xmlns:app='urn:arwo:app'
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
            elementFormDefault='qualified'>

    <!--user configuration-->

    <xsd:element name='app' type='app:appType'/>

    <xsd:complexType name='appType'>
        <xsd:sequence>
            <xsd:element name='folders' type='app:localFoldersType'/>
            <xsd:element name='sshServers' type='app:sshServersType'/>
            <xsd:element name='cifsServers' type='app:cifsServersType'/>
            <xsd:element name='webdavServers' type='app:webdavServersType'/>
            <xsd:element name='jdbcServers' type='app:jdbcServersType'/>
            <xsd:element name='smtpServers' type='app:smtpServersType'/>
            <xsd:element name='imapServers' type='app:imapServersType'/>
            <xsd:element name='pop3Servers' type='app:pop3ServersType'/>
            <xsd:element name='cron' type='app:cronType'/>
            <xsd:element name='documents' type='app:documentsType'/>
            <xsd:element name='preferences' type='app:preferencesType'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='localFoldersType'>
        <xsd:sequence>
            <xsd:element name='folder' type='app:localFolderType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='localFolderType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='folder' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='sshServersType'>
        <xsd:sequence>
            <xsd:element name='server' type='app:sshServerType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='sshServerType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='host' type='xsd:string'/>
            <xsd:element name='port' type='xsd:string'/>
            <xsd:element name='term' type='xsd:string'/>
            <xsd:element name='user' type='xsd:string'/>
            <xsd:choice>
                <xsd:element name='authPassword' type='app:sshAuthPasswordType'/>
                <xsd:element name='authPublicKey' type='app:sshAuthPublicKeyType'/>
            </xsd:choice>
            <xsd:element name='algorithm' type='xsd:string'/>
            <xsd:element name='publicKey' type='xsd:base64Binary'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='sshAuthPasswordType'>
        <xsd:sequence>
            <xsd:element name='password' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='sshAuthPublicKeyType'>
        <xsd:sequence>
            <xsd:element name='privateKey' type='xsd:base64Binary'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='cifsServersType'>
        <xsd:sequence>
            <xsd:element name='server' type='app:cifsServerType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='cifsServerType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='host' type='xsd:string'/>
            <xsd:element name='share' type='xsd:string'/>
            <xsd:element name='user' type='xsd:string'/>
            <xsd:element name='password' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='webdavServersType'>
        <xsd:sequence>
            <xsd:element name='server' type='app:webdavServerType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='webdavServerType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='protocol' type='xsd:string'/>
            <xsd:element name='host' type='xsd:string'/>
            <xsd:element name='port' type='xsd:string'/>
            <xsd:element name='user' type='xsd:string'/>
            <xsd:element name='password' type='xsd:string'/>
            <xsd:element name='certificate' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='jdbcServersType'>
        <xsd:sequence>
            <xsd:element name='server' type='app:jdbcServerType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='jdbcServerType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='driverClass' type='xsd:string'/>
            <xsd:element name='url' type='xsd:string'/>
            <xsd:element name='user' type='xsd:string'/>
            <xsd:element name='password' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='smtpServersType'>
        <xsd:sequence>
            <xsd:element name='server' type='app:smtpServerType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='smtpServerType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='protocol' type='xsd:string'/>
            <xsd:element name='host' type='xsd:string'/>
            <xsd:element name='port' type='xsd:string'/>
            <xsd:element name='user' type='xsd:string'/>
            <xsd:element name='password' type='xsd:string'/>
            <xsd:element name='certificate' type='xsd:string' minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='imapServersType'>
        <xsd:sequence>
            <xsd:element name='server' type='app:imapServerType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='imapServerType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='protocol' type='xsd:string'/>
            <xsd:element name='host' type='xsd:string'/>
            <xsd:element name='port' type='xsd:string'/>
            <xsd:element name='user' type='xsd:string'/>
            <xsd:element name='password' type='xsd:string'/>
            <xsd:element name='certificate' type='xsd:string' minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='pop3ServersType'>
        <xsd:sequence>
            <xsd:element name='server' type='app:pop3ServerType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='pop3ServerType'>
        <xsd:sequence>
            <xsd:element name='name' type='xsd:string'/>
            <xsd:element name='comment' type='xsd:string'/>
            <xsd:element name='enabled' type='xsd:boolean'/>
            <xsd:element name='protocol' type='xsd:string'/>
            <xsd:element name='host' type='xsd:string'/>
            <xsd:element name='port' type='xsd:string'/>
            <xsd:element name='user' type='xsd:string'/>
            <xsd:element name='password' type='xsd:string'/>
            <xsd:element name='certificate' type='xsd:string' minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cronType">
        <xsd:sequence>
            <xsd:element name='cronTab' type='app:cronTabType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cronTabType">
        <xsd:sequence>
            <xsd:element name='cronJob' type='app:cronJobType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
        <xsd:attribute name='name' type='xsd:string'/>
        <xsd:attribute name='enabled' type='xsd:boolean'/>
        <xsd:attribute name='threads' type='xsd:unsignedShort'/>
        <xsd:attribute name='tz' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronJobType">
        <xsd:choice>
            <!--<xsd:element name='arguments' type='app:cronArgumentsJobType'/>-->
            <xsd:element name='sleep' type='app:cronSleepJobType'/>
            <xsd:element name='lsh' type='app:cronLshJobType'/>
            <xsd:element name='ssh' type='app:cronSshJobType'/>
            <xsd:element name='wsh' type='app:cronWshJobType'/>
            <xsd:element name='jdbc' type='app:cronJdbcJobType'/>
            <xsd:element name='sftp' type='app:cronSFTPJobType'/>
            <xsd:element name='cifs' type='app:cronCIFSJobType'/>
            <xsd:element name='webdav' type='app:cronWebDAVJobType'/>
            <xsd:element name='smtp' type='app:cronSMTPJobType'/>
            <xsd:element name='imap' type='app:cronIMAPJobType'/>
            <xsd:element name='pop3' type='app:cronPOP3JobType'/>
        </xsd:choice>
        <xsd:attributeGroup ref="app:cronJobAttributes"/>
    </xsd:complexType>

    <xsd:attributeGroup name="cronJobAttributes">
        <xsd:attribute name='name' type='xsd:string'/>
        <xsd:attribute name='enabled' type='xsd:boolean'/>
        <xsd:attribute name='cron' type='xsd:string'/>
    </xsd:attributeGroup>

    <xsd:complexType name="cronArgumentsJobType">
        <xsd:attribute name='arguments' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronSleepJobType">
        <xsd:attribute name='duration' type='xsd:duration'/>
    </xsd:complexType>

    <xsd:complexType name="cronLshJobType">
        <xsd:attribute name='command' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronSshJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='command' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronWshJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='command' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronJdbcJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='sql' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronSFTPJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronCIFSJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronWebDAVJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronSMTPJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
        <xsd:attribute name='to' type='xsd:string'/>
        <xsd:attribute name='cc' type='xsd:string'/>
        <xsd:attribute name='bcc' type='xsd:string'/>
        <xsd:attribute name='subject' type='xsd:string'/>
        <xsd:attribute name='body' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronIMAPJobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cronPOP3JobType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="documentsType">
        <xsd:sequence>
            <xsd:element name='document' type='app:documentType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="documentType">
        <xsd:sequence>
            <xsd:element name='title' type='xsd:string'/>
            <xsd:element name='contextPath' type='xsd:string'/>
            <xsd:element name='qname' type='xsd:string'/>
            <xsd:element name='xmlPath' type='xsd:string'/>
            <xsd:element name='xsdPath' type='xsd:string'/>
            <xsd:element name='xsltPath' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="preferencesType">
        <xsd:sequence>
            <xsd:element name='mimeTypes' type='app:mimeTypesType'/>
            <xsd:element name='localization' type='app:localizationType'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='mimeTypesType'>
        <xsd:sequence>
            <xsd:element name='mimeType' type='app:mimeTypeType' minOccurs='0' maxOccurs='unbounded'/>
            <xsd:element name='mimeDefaultType' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='mimeTypeType'>
        <xsd:sequence>
            <xsd:element name='extension' type='xsd:string'/>
            <xsd:element name='type' type='xsd:string'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='localizationType'>
        <xsd:sequence>
            <xsd:element name='tz' type='xsd:string' default='GMT'/>
            <xsd:element name='dateFormat' type='xsd:string' default='EEE, dd MMM yyyy HH:mm:ss.SSS zzz'/>
            <xsd:element name='language' type='app:languageType'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name='languageType'>
        <xsd:restriction base='xsd:string'>
            <xsd:enumeration value='EN'/>
            <xsd:enumeration value='ES'/>
            <xsd:enumeration value='FR'/>
            <xsd:enumeration value='DE'/>
            <xsd:enumeration value='RU'/>
            <xsd:enumeration value='JA'/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--favorites-->

    <xsd:element name='favorites' type='app:favoritesType'/>

    <xsd:complexType name='favoritesType'>
        <xsd:sequence>
            <xsd:element name='lshFavorites' type='app:lshFavoritesType'/>
            <xsd:element name='lfsFavorites' type='app:lfsFavoritesType'/>
            <xsd:element name='sshFavorites' type='app:sshFavoritesType'/>
            <xsd:element name='sftpFavorites' type='app:sftpFavoritesType'/>
            <xsd:element name='wshFavorites' type='app:wshFavoritesType'/>
            <xsd:element name='cifsFavorites' type='app:cifsFavoritesType'/>
            <xsd:element name='webdavFavorites' type='app:webdavFavoritesType'/>
            <xsd:element name='jdbcFavorites' type='app:jdbcFavoritesType'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='lshFavoritesType'>
        <xsd:sequence>
            <xsd:element name='lshFavorite' type='app:lshFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='lfsFavoritesType'>
        <xsd:sequence>
            <xsd:element name='lfsFavorite' type='app:lfsFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='sshFavoritesType'>
        <xsd:sequence>
            <xsd:element name='sshFavorite' type='app:sshFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='sftpFavoritesType'>
        <xsd:sequence>
            <xsd:element name='sftpFavorite' type='app:sftpFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='wshFavoritesType'>
        <xsd:sequence>
            <xsd:element name='wshFavorite' type='app:wshFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='cifsFavoritesType'>
        <xsd:sequence>
            <xsd:element name='cifsFavorite' type='app:cifsFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='webdavFavoritesType'>
        <xsd:sequence>
            <xsd:element name='webdavFavorite' type='app:webdavFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name='jdbcFavoritesType'>
        <xsd:sequence>
            <xsd:element name='jdbcFavorite' type='app:jdbcFavoriteType' minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="lshFavoriteType">
        <xsd:attribute name='command' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="lfsFavoriteType">
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="sshFavoriteType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='command' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="sftpFavoriteType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="wshFavoriteType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='command' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="cifsFavoriteType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="webdavFavoriteType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='resource' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

    <xsd:complexType name="jdbcFavoriteType">
        <xsd:attribute name='server' type='xsd:string'/>
        <xsd:attribute name='sql' type='xsd:string'/>
        <xsd:attribute name='comment' type='xsd:string'/>
    </xsd:complexType>

</xsd:schema>
